In [1]:
# house-price prediction project
# project covers:

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv(r"C:\Users\91944\Documents\Bengaluru_House_Data.csv")
df=pd.DataFrame(data)

In [5]:
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

(13320, 9)

In [7]:
#1.data cleaning
df=data.drop(columns=['area_type','availability','balcony','society'])
df.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [9]:
df["size"].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [11]:
df.head()
def func(x):
    if(pd.isna(x) or x == ""):
        return None
    try:
        return int(str(x).split(" ")[0])
    except:
        return None
df['bhk']=df['size'].apply(func)

In [13]:
df["bhk"].value_counts()

bhk
2.0     5528
3.0     4857
4.0     1417
1.0      656
5.0      356
6.0      221
7.0      100
8.0       89
9.0       54
10.0      14
11.0       4
27.0       1
19.0       1
16.0       1
43.0       1
14.0       1
12.0       1
13.0       1
18.0       1
Name: count, dtype: int64

In [15]:
df.drop(columns=["size"],inplace=True)

In [17]:
df["bhk"].unique()
df["total_sqft"].unique

<bound method Series.unique of 0        1056
1        2600
2        1440
3        1521
4        1200
         ...
13315    3453
13316    3600
13317    1141
13318    4689
13319     550
Name: total_sqft, Length: 13320, dtype: object>

In [19]:
def tofloat(x):
    try:
        a=float(x)
        return a
    except:
        token=x.split('-')
        if(len(token)==2):
            a,b=float(token[0]),float(token[1])
            return (a+b)/2
df["total_sqft"]=df["total_sqft"].apply(tofloat)

In [21]:
df.isna().sum()
df.dropna(inplace=True)

In [23]:
df.shape
locations_freq=df["location"].value_counts()
#locations_freq is like a counter ex."whitefield":532

In [25]:
#now remove outliers
#typical squarefoor for bedroom is minimum 300 sqfts
df1=df[df["total_sqft"]/df["bhk"]>=300]
df1.head()

                   location  total_sqft  bath   price  bhk
0  Electronic City Phase II      1056.0   2.0   39.07  2.0
1          Chikka Tirupathi      2600.0   5.0  120.00  4.0
2               Uttarahalli      1440.0   2.0   62.00  3.0
3        Lingadheeranahalli      1521.0   3.0   95.00  3.0
4                  Kothanur      1200.0   2.0   51.00  2.0

In [27]:
def location(x):
    if(locations_freq[x]<=10):
        return "other"
    return x

In [29]:
#total 1298 locations are there so
locations_freq["Whitefield"]>=10
df1["location"]=df1["location"].apply(location)

C:\Users\91944\AppData\Local\Temp\ipykernel_4892\3761329380.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["location"]=df1["location"].apply(location)

In [31]:
len(df1["location"].unique())
df1["location"].value_counts(ascending=False)
#now we do onehotencoding using get dummies
df1.head(20)

                    location  total_sqft  bath   price  bhk
0   Electronic City Phase II      1056.0   2.0   39.07  2.0
1           Chikka Tirupathi      2600.0   5.0  120.00  4.0
2                Uttarahalli      1440.0   2.0   62.00  3.0
3         Lingadheeranahalli      1521.0   3.0   95.00  3.0
4                   Kothanur      1200.0   2.0   51.00  2.0
5                 Whitefield      1170.0   2.0   38.00  2.0
6           Old Airport Road      2732.0   4.0  204.00  4.0
7               Rajaji Nagar      3300.0   4.0  600.00  4.0
8               Marathahalli      1310.0   3.0   63.25  3.0
10                Whitefield      1800.0   2.0   70.00  3.0
11                Whitefield      2785.0   5.0  295.00  4.0
12        7th Phase JP Nagar      1000.0   2.0   38.00  2.0
13                 Gottigere      1100.0   2.0   40.00  2.0
14                  Sarjapur      2250.0   3.0  148.00  3.0
15               Mysore Road      1175.0   2.0   73.50  2.0
16             Bisuvanahalli      1180.0   3.0   48.00  3.0
17     Raja Rajeshwari Nagar      1540.0   3.0   60.00  3.0
18                     other      2770.0   4.0  290.00  3.0
19                     other      1100.0   2.0   48.00  2.0
20                   Kengeri       600.0   1.0   15.00  1.0

In [33]:
dummies=pd.get_dummies(df1["location"])
dummies.head(10)
dummies.replace({False:0,True:1},inplace=True)

C:\Users\91944\AppData\Local\Temp\ipykernel_4892\2631599457.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dummies.replace({False:0,True:1},inplace=True)

In [34]:
df2=pd.concat([df1,dummies.drop(columns=["other"])],axis="columns")
df2.drop(columns=["location"],inplace=True)

In [37]:
df2.head()

,total_sqft,bath,price,bhk,Devarachikkanahalli,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1056.0,2.0,39.07,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2600.0,5.0,120.00,4.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1440.0,2.0,62.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1521.0,3.0,95.00,3.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1200.0,2.0,51.00,2.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df2.shape
x=df2.drop(columns=["price"])
y=df2["price"]

In [41]:
len(x),len(y)

(12456, 12456)

In [43]:
#model building
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=3)

In [44]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.4545990614591984

In [49]:
y_pred=model.predict(x_test)

In [55]:
#we cna compare the results 
#note the regression probelm have low accuracy(50-70) only because exactly find the correct value is not easy

print(y_pred[:5])
print(y_test[:5])

[ 55.68598603  43.39129626  57.34791379 163.46032633  83.43073626]
4509      50.00
5324      45.00
3396      89.06
10092    300.00
2877      45.00
Name: price, dtype: float64